# dependencies
node_modules/

# build
dist/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# playwright
playwright-report/
blob-report/
test-results/

# macOS
.DS_Store
!/.idea/

# IDE
.idea/
dist/
